main {
  text-align: center;
  max-width: 800px;
  margin: 120px auto;
}

.image {
  padding-bottom: 30px;
}
.image img {
  width: 250px;
  border-radius: 20px;
  object-position: center;
}

main h1 {
  font-size: 48px;
  font-weight: 400;
}

main p {
  margin: 3rem auto;
  font-size: 25px;
  word-spacing: 1px;
  line-height: 30px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}

.buttons button {
  padding: 0.8rem 5rem;
  font-size: 24px;
}

.buttons button {
  border-radius: 10px;
}

.left-btn {
  background-color: #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.right-btn {
  color: #fff;
  background-color: #000;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.right-btn:hover {
  color: #000;
  background-color: #fff;
}
