.education {
  text-align: center;
  max-width: 1140px;
  margin: 200px auto;
}

.education h2 {
  font-size: 36px;
  font-weight: 400;
}

.college {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}

body > .education > div:first-child {
  background-color: yellow;
}

.clgName {
  margin: 1.5rem 0;
  text-align: left;
}

.education-title,
.yearCompleted {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
}

.clgDetails {
  text-align: right;
}

.education span {
  margin-right: 10px;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
  top: 2px;
}

.seprationLine {
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  padding-bottom: 15px;
}

@media (width < 540px) {
  .education h2 {
    font-size: 30px;
  }

  .education-title,
  .yearCompleted {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
  }

  .current,
  .year {
    font-size: 12px;
  }
}

@media (width < 660px) {
  .college {
    flex-direction: column;
  }
  .clgName {
    text-align: center;
  }
  .clgDetails {
    text-align: center;
  }
}
