.workExperience {
  text-align: center;
  max-width: 1140px;
  width: 95%;
  margin: 200px auto 0 auto;
}

.workExperience h2 {
  font-size: 36px;
  font-weight: 400;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.experience-title,
.internship {
  margin-bottom: 20px;
  font-size: 20px;
}

.companyDetail {
  text-align: left;
}

.workingDateAndYear {
  text-align: right;
}

.workExperience span {
  position: relative;
  top: 2px;
  font-size: 18px;
  margin-right: 10px;
}

@media (width < 540px) {
  .experience h2 {
    font-size: 30px;
  }

  .experience-title,
  .internship {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .current,
  .year {
    font-size: 12px;
  }

  .workExperience span {
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 10px;
  }
}

@media (width < 660px) {
  .experience {
    flex-direction: column;
  }
  .internship {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .current {
    text-align: center;
  }
}
