nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.178);
  padding: 0 20px;
  z-index: 99;
}

.nav-content {
  height: 80px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-link {
  list-style: none;
  margin-left: 40px;
}
.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  font-weight: 500;
}

.last-nav-link {
  color: #fff;
  margin-left: 3rem;
}

.last-nav-link button {
  font-size: 22px;
  color: #fff;
  background-color: #000;
  padding: 0.5rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
}

.last-nav-link button:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}

.link:hover {
  scale: 0.9;
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 0px;
  transform: translate(-70%, -70%);
  z-index: 100;
}

.scroll-to-top button {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.scroll-to-top button:hover {
  scale: 1.1;
}

.mobile {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

@media (width< 1100px) {
  .nav-links {
    position: fixed;
    top: 80px;
    right: -1200px;
    display: block;
    text-align: center;
    text-align: right;
    background-color: white;
    width: 100%;
    padding: 2rem 2rem;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .last-nav-link button {
    font-size: 18px;
    padding: 0.5rem 1.5rem;
  }

  .nav-link {
    margin-bottom: 20px;
    text-align: center;
  }
  .mobile {
    display: block;
  }
  .nav-links.active {
    transition: 0.3s ease-in-out;
    right: 0;
  }
}
