footer {
  margin-top: -20px;
  text-align: center;
  padding: 0.5rem 2rem 2rem 2rem;
  max-width: 1440px;
  margin: 50px auto 0 auto;
}

.footerGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 35px;
}

.footerGroup h2 {
  font-weight: 600;
  cursor: pointer;
}

.left {
  text-align: left;
}

.middle {
  flex: 1;
  text-align: center;
}

.github,
.linkedin {
  font-size: 24px;
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.github:hover,
.linkedin:hover {
  color: #0000ee;
}

.right {
  flex: 1;
  text-align: right;
}

.number,
.gmail {
  display: block;
  margin: 5px 0;
  font-size: 18px;
}

.number {
  font-weight: 600;
}

.gmail {
  font-style: italic;
}

.designAndBuit {
  border-top: 1px solid rgba(0, 0, 0, 0.568);
  padding-top: 3rem;
  font-weight: 500;
}

@media (width<850px) {
  footer {
    margin-top: -20px;
    text-align: center;
    padding: 2rem 0rem 0rem 0rem;
  }

  .footerGroup h2 {
    display: none;
  }

  .footerGroup {
    justify-content: space-between;
  }

  .middle {
    text-align: left;
  }

  .github,
  .linkedin {
    margin: 0 10px;
    font-size: 23px;
  }

  .middle {
    margin-bottom: -15px;
  }

  .number,
  .gmail {
    display: block;
    margin: 5px 0;
    font-size: 14px;
  }

  .number {
    font-weight: 500;
  }
  .designAndBuit {
    padding-top: 1.5rem;
    font-size: 14px;
  }
}
