footer {
  text-align: center;
}

.footerGroup {
  max-width: 1140px;
  margin: 50px auto 20px auto;
}

.footerGroup span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 0px 20px;
}
