@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  padding: 20px;
}

hr {
  max-width: 270px;
  margin: 40px auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 0.5px solid rgba(0, 0, 0, 0.384);
}

::-webkit-scrollbar-thumb {
  background: black;
}
