@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: var(--bg-color);
}

hr {
  max-width: 270px;
  margin: 40px auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 0.5px solid rgba(0, 0, 0, 0.384);
}

::-webkit-scrollbar-thumb {
  background: black;
}

:root {
  --bg-color: #fff;
  --text-color: #000000;
  --left-btn-color: #fff;
  --left-btn-bg-color: #fff;
  --left-btn-border: #000;
  --right-btn-color: #000;
  --right-btn-border: #000;
}

[data-theme="dark"] {
  --bg-color: #232222d7;
  --text-color: #e4dfd6;
  --left-btn-color: #000;
  --left-btn-border: #fff;
  --left-btn-bg-color: #000;
}
